<%= form_for(@cellosaurus_cell_type) do |f| %>
  <% if @cellosaurus_cell_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cellosaurus_cell_type.errors.count, "error") %> prohibited this cellosaurus_cell_type from being saved:</h2>

      <ul>
      <% @cellosaurus_cell_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
