<%= form_for(@hit_value) do |f| %>
  <% if @hit_value.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hit_value.errors.count, "error") %> prohibited this hit_value from being saved:</h2>

      <ul>
      <% @hit_value.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
