<h1>Listing predictions</h1>

<!--
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @predictions.each do |prediction| %>
  <tr>
    <td><%= link_to 'Show', prediction %></td>
    <td><%= link_to 'Edit', edit_prediction_path(prediction) %></td>
    <td><%= link_to 'Destroy', prediction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
-->
<br />

<%# link_to 'New Prediction', new_prediction_path %>
