<%= form_for(@isoform) do |f| %>
  <% if @isoform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isoform.errors.count, "error") %> prohibited this isoform from being saved:</h2>

      <ul>
      <% @isoform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
