<h1>Listing isoforms</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# @isoforms.each do |isoform| %>
<!--  <tr>
    <td><%# link_to 'Show', isoform %></td>
    <td><%# link_to 'Edit', edit_isoform_path(isoform) %></td>
    <td><%# link_to 'Destroy', isoform, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
-->
<%# end %>
</table>

<br />

<%= link_to 'New Isoform', new_isoform_path %>
