<h1>Listing protein_go_associations</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @protein_go_associations.each do |protein_go_association| %>
  <tr>
    <td><%= link_to 'Show', protein_go_association %></td>
    <td><%= link_to 'Edit', edit_protein_go_association_path(protein_go_association) %></td>
    <td><%= link_to 'Destroy', protein_go_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Protein go association', new_protein_go_association_path %>
