<h1>Listing reactions</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reactions.each do |reaction| %>
  <tr>
    <td><%= link_to 'Show', reaction %></td>
    <td><%= link_to 'Edit', edit_reaction_path(reaction) %></td>
    <td><%= link_to 'Destroy', reaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reaction', new_reaction_path %>
