<br/>
<div id='introduction' class='round_border'>
<b>What is SwissPalm?</b>
<br/><br/>
Text
</div>
<br/>
<br/>

<center>
<table  id='overview' class='round_border'><tr>

<td width='500px' style='padding:1em'>

In SwissPalm, you will find:
<ul>
<li></li>
</ul>
</td>
<td><%# image_tag('', :width => '300px') %></td>


</tr></table>

<br/>
<br/>
</center>

