<%= form_for(@interpro) do |f| %>
  <% if @interpro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interpro.errors.count, "error") %> prohibited this interpro from being saved:</h2>

      <ul>
      <% @interpro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
