<h1>What is palmitoylation?</h1>

<iframe title="YouTube video player" class="youtube-player" type="text/html" 
width="640" height="390" src="http://www.youtube.com/embed/95QiQYdvr0A"
frameborder="0" allowFullScreen></iframe>

<iframe title="YouTube video player" class="youtube-player" type="text/html"
width="640" height="390" src="http://www.youtube.com/embed/TXI_yIRZ840"
frameborder="0" allowFullScreen></iframe>

<iframe title="YouTube video player" class="youtube-player" type="text/html"
width="640" height="390" src="http://www.youtube.com/embed/VPxJvw6s6Zc"
frameborder="0" allowFullScreen></iframe>

<iframe title="YouTube video player" class="youtube-player" type="text/html"
width="640" height="390" src="http://www.jove.com/embed/player?ID=50031"
frameborder="0" allowFullScreen></iframe>
