<%= form_for(@tmp_palmitome_entry) do |f| %>
  <% if @tmp_palmitome_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tmp_palmitome_entry.errors.count, "error") %> prohibited this tmp_palmitome_entry from being saved:</h2>

      <ul>
      <% @tmp_palmitome_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
