</td></tr></table>

<div id='footer'>
<hr style:noshade />
<table><tr><td width='100px'>
<a class='bbcf_img' href='http://epfl.ch'><img src='http://htsstation.vital-it.ch/epfl_logo.gif'/></a>
</td><td style='text-align:center'>
&copy;2014 EPFL, 1015 Lausanne, tel. +41 21 693 1111<br/>
<a href='mailto:webmaster.bbcf@epfl.ch?subject=Visitor request'>Website contact</a> |
<sup>*</sup><a href='mailto:mathieu.blanc@epfl.ch?subject=Visitor request'>Scientific contact</a>
</td><td style='width:100px'>


</td></tr></table>
</div>

